.card {
  width: calc(100% - 40px);
  margin: 20px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.95);
}

.card:hover,
.card:focus,
.card:active {
  color: #d564a2;
  border-color: #d564a2;
  cursor: pointer;
}

.card:hover .thumbnail {
  opacity: 0.95;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.link {
  display: block;
  height: 100%;
}

.thumbnail {
  display: block;
  width: 100%;
}

.inner {
  position: relative;
  padding: 20px;
}

.label {
  background-color: #f48475;
  padding: 10px;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 10px;
  transform: translateY(-100%);
}
