.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  width: 100%;
  display: flex;
}

.user {
  height: 100%;
  width: 100%;
  margin: 40px;
  background-color: #ffffff;
  padding: 40px;
}
