.container {
  display: flex;
  min-height: 100vh;
}

.main {
  width: 100%;
  display: flex;
}

.grid {
}

.gridInner {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.gridInner > div {
  width: calc(33% - 40px);
}

.gridItemEmpty {
  width: 100%;
  padding: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
}

.sidebar {
  padding: 20px;
  min-width: 320px;
  background-color: rgba(68, 67, 68, 0.9);
  color: #ffffff;
}

@media (max-width: 1200px) {
  .gridInner > div {
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .grid {
    width: 100%;
  }

  .gridInner > div {
    width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .main {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .grid {
    width: 100%;
  }

  .gridInner > div {
    width: calc(100% - 40px);
  }
}
